
.card {
    width: 100%;
    min-width: 440px;
    //box-shadow: 0 -1px 2px 1px rgba(125, 150, 200, 0.25), 0 2px 2px 1px rgba(30, 30, 30, 0.19);
    box-shadow: 0px 0px 1px 1px rgba(125, 150, 200, 0.25);
    text-align: center;
    min-height: 200px;
    //background-color: rgba(50, 160, 250, 0.85);//#fefeff;
    border-radius:0 0 11px 11px;
}

.cardInputNumber {

    min-height: 32px;
    min-width: 280px;
    height: 32px;
    font-size: 24px;
    text-align: left;
    padding: 2px 10px 2px 52px;
    margin: 5px 10px 5px 32px;
    border: 1px solid rgba(120, 120, 120, 0.15); 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    background-position: left center, right center;
    background-repeat: no-repeat, no-repeat;
    background-size: 34px 30px, 32px 38px;

    width: 240px;
    outline-color: rgba(30, 150, 255, 0.35);
}

.cardInputNumber:focus {
    //box-shadow: 0 4px 8px 0 rgba(30, 150, 255, 0.5), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid transparent;
}
.cardInputNumber:hover {
    //box-shadow: 0 1px 4px 0 rgba(30, 150, 255, 0.5), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
}

.container {
    padding: 8px 10px;
    border: 1px solid #30baff;
    margin: 5px;
}

.imgA {
    height: 32px;
    width: 32px;
    left: -52px;
    top: 6px;
    position: relative;
    //padding: 2px 0px;
    //margin: 5px 10px;
    border: '0';
    background-color: white;
}
